# Servidor
PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_u0gPnaOoSWD9@ep-wispy-flower-apo9tch6-pooler.c-7.us-east-1.aws.neon.tech/casadolores_db?sslmode=require&channel_binding=require

# JWT
JWT_SECRET=key26CasaDolores20$
JWT_REFRESH_SECRET=key26CasaDolores20$jkiYvbP

